<div class="row">
  <p class="col-sm-2">
    <b>Name:</b>
  </p>
  <p class="col-sm-10">
    <%= @event.name %>
  </p>
</div>

<div class = "row">
  <p class="col-sm-2">
    <b>Date:</b>
  </p>
  <p class="col-sm-10">
    <%= @event.date %>
  </p>
</div>

<div class="row">
  <p class="col-sm-2">
    <b>Description:</b>
  </p>
  <div class="col-sm-10">
    <%= @event.description %>
  </div>
</div>
<%= link_to "Edit", "/admin/events/#{@event.event_id}/edit" %>
<%= link_to "Delete", "/admin/events/#{@event.event_id}/delete" %>
