<h2> Information </h2>

<h3> First Name </h3>
<%= @member[:firstName] %>
<h3>Last Name</h3>
<%= @member[:lastName] %>
<h3> Email </h3>
<%= @member[:email] %>
<h3> Shirt Size </h3>
<%= @member[:shirtSize] %>
<h3> Year </h3>
<%= @member[:year] %>


