<div class="title">
  <h1>Contact Us</h1>
  <p>Got a burning question? Fill out this form and we'll get back to you soon!</p>
</div>

<%= form_for(:contact, :html => {:class => "form-horizontal"}) do |f| %>
  <div class="form-group">
    <label>First Name:</label>
    <br/>
    <%= f.text_field :first_name, :required => true, :class => "form-control", :id => "name", :placeholder => "First Name" %>
    <br/>
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <br/>
    <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
    <br/>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <br/>
    <%= f.email_field :email, :required => true, :class => "form-control", :id => "email", :placeholder => "email@example.com" %>
    <br/>
  </div>
  <div class="form-group">
    <label>Question:</label>
    <br/>
    <%= f.text_area :question, :required => true, :class => "form-control", :id => "message", :rows => "3", :placeholder => "Question"%>
    <br/>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", :class => "btn btn-red" %>
  </div>
<% end %>