<!DOCTYPE html>
<html>
<head>
  <title>UMD CSA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse" id="otherPagesBar">
	<%= render 'layouts/menu' %>
</nav>
<div class="container-fluid" id="bodyContent">
	<div class="jumbotron">
		 <%= image_tag('aboutBG.jpg',:class => "img-responsive") %>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted">
			<span id="copyright">&copy; UMD Chinese Student Association 2015-2016</span> | 
			<span id="social_media"><a href="https://www.facebook.com/UMCPCSA"><i class="fa fa-lg fa-facebook-official"></i></a><a href="https://twitter.com/umcpcsa"><i class="fa fa-lg fa-twitter-square"></i></a><a href="https://instagram.com/umcpcsa/"><i class="fa fa-lg fa-instagram"></i></a></span>
		</p>
	</div>
</footer>
<%= render 'layouts/footer' %>
</body>
</html>

kchen@farmersagent.com
