<!DOCTYPE html>
<html>
<head>
  <title>UMD CSA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse" id="otherPagesBar">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuBar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">
	      	<%= image_tag('logo.png', size: '40x40') %>
	      </a>
	    </div>
	    <div class="collapse navbar-collapse" id="menuBar">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/about">About</a></li>
	       	<li><a href="/events">Events</a></li>
	       	<li><a href="/contact">Contact</a></li>
	       	<li><a href="/register">Sign up</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	 </div>
</nav>
<div class="container-fluid">
	<div class="jumbotron">
		 <%= image_tag('aboutBG.jpg',:class => "img-responsive") %>
	</div>
	<div id="content">
		<%= yield %>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="text-muted">&copy; UMD Chinese Student Association 2015-2016</p>
	</div>
</footer>
</body>
</html>
