<!DOCTYPE html>
<html>
<head>
  <title>UMD CSA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="homePage">
<nav id="indexBar">
	<%= render 'layouts/menu' %>
</nav>
<div class="container">
<%= yield %>
</div>
<footer class="footer left">	
	<p>Photo by Chester Lam</p>	
</footer>
<%= render 'layouts/footer' %>
</body>
</html>
